.box {
  margin: 1em;
  display: inline-block;
  position: relative;
}

.box-remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0.5em;
  background: rgba(255, 0, 0, 0.7);
  border: none;
  color: white;
}
